*, *::before, *::after {
  box-sizing: border-box;
  font-family: Gotham Rounded;
}

#start-container {
  text-align: center;
  justify-content: center;
}
body {
  padding: 0;
  margin: 0;
  display: flex;
  width : 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: aquamarine;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem; /* space between box and up and down*/
  text-align: center;
}

#game_title {
  font-size: 50px;
  position: relative; top: 15px;
}

#startButton {
  width: 110px;
  max-width: 80%;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 0 10px 2px;
  font-family: inherit;
  font-size: 30px;
  background-color: #a7d1d4;
  cursor: pointer;
  transition: border-color 0.25s;
  position: relative; top : 200px;

}
#startButton:hover {
  border-color: #0a1ce2;
}
#startButton:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
  display: "none";
}

#typhoon_gif {
  width: 200px;
  position: relative; top: -90px;
}
.category_buttons {
  display : block;
  margin-block-start: 30px;
  background-color:rgb(240, 205, 159);
  color: rgb(38, 66, 150);
  font-size: 25px;
  width: 300px;
  height: 60px;
  box-shadow: 0 0 7px 2px;
  margin-bottom: 30px;
  position: relative; top: -90px;
}

#category {
  background-color: transparent;
  font-size: 35px;
  color:rgb(78, 8, 143) ;
  margin-block-start: 0;
  margin-block-end: 50px;
  margin-inline-start: 0;
  text-align: center;
  position: relative; top: -100px;
}

.question_boxes {
  display: flex;
  flex-direction: row;
  background-color: rgb(240, 205, 159);
  color: #0a1ce2;
  box-shadow: 0 0 1px 1px;
  font-size: 20px;
  margin: auto;
  margin-bottom: 15px;
  margin-left: 30px;
  margin-right: auto;
  justify-content: center;
  text-justify: auto;
  text-align: center;
  width: 100px;
  height: 60px;
  border-radius: 3px;
  position: relative; top: -130px; right: 30px;
  display: inline;
}

#box{
  background-color: transparent;
  text-align: auto;
  justify-content: center;
  position: relative; top: -150px; right : 3px;
  font-size: 30px;
  align-content: center;
  display: inline-block;
}

.lose {
  position: relative;
  font-size: 200px;
  justify-content: center;
}

.starttyphoon {
  max-width: 100%;
}

